* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.hero {
  background-image: url(/images/BG.jpg);
  background-size: cover;
  height: 50rem;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 2rem;
}
.hero .hero__container .hero__container--logos img {
  height: 4rem;
}
.hero .hero__container .hero__container--content {
  height: 100%;
  display: flex;
  align-items: center;
  width: 60%;
}
.hero .hero__container .hero__container--content h1 {
  font-size: 5rem;
  color: #1d428a;
  font-weight: bold;
}

.info {
  padding-top: 5rem;
}
.info .info__container .info__container--title {
  font-size: 3rem;
  color: grey;
}
.info .info__container .info__container--cards {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.info .info__container .info__container--cards .card {
  border: none;
  text-align: center;
  max-width: 20rem;
}
.info .info__container .info__container--cards .card img {
  height: 15rem;
}
.info .info__container .info__container--cards .card p {
  font-size: 2rem;
  font-weight: bold;
  color: #1d428a;
}
.info .info__container .info__container--descripcion {
  margin-top: 5rem;
  font-size: 3rem;
  color: grey;
}
.info .info__container .info__container--descripcion p {
  text-align: justify;
}
.info .info__container .info__container--descripcion p span {
  color: #31aabf;
  font-weight: bold;
}

.datos-evento {
  padding-top: 5rem;
}
.datos-evento .datos-evento__container .datos-evento__container--title {
  position: relative;
}
.datos-evento .datos-evento__container .datos-evento__container--title::before {
  content: "";
  position: absolute;
  background-color: #31aabf;
  width: 20rem;
  height: 100%;
  left: -10rem;
}
.datos-evento .datos-evento__container .datos-evento__container--title p {
  background-color: #31aabf;
  font-size: 3rem;
  margin: 0;
  display: inline-block;
  position: relative;
  padding: 1rem 0;
  padding-right: 3rem;
  border-radius: 3rem;
  color: white;
  font-weight: bold;
}
.datos-evento .datos-evento__container .datos-evento__container--content {
  padding-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}
.datos-evento .datos-evento__container .datos-evento__container--content p {
  font-size: 3rem;
  font-weight: bold;
  color: #1d428a;
}
.datos-evento .datos-evento__container .datos-evento__container--content p span {
  color: #31aabf;
  font-size: 10rem;
}

.contacto {
  padding-top: 5rem;
}
.contacto .contacto__container .contacto__container--title {
  font-size: 3rem;
  font-weight: bold;
  color: #1d428a;
}
.contacto .contacto__container .contacto__container--sub {
  font-size: 2.6rem;
  color: grey;
}
.contacto .contacto__container .contacto__container--form form .form-input {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.contacto .contacto__container .contacto__container--form form .form-input input {
  border-radius: 2rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding: 0 2rem;
  border: 1px solid grey;
}
.contacto .contacto__container .contacto__container--form form .form-input input[type=submit] {
  background-color: #31aabf;
  border: none;
  color: white;
  font-weight: bold;
  padding: 1rem 0;
  border-radius: 3rem;
}

/*# sourceMappingURL=styles.css.map */
